@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    /* Slate 900 */
    --background-end-rgb: 30, 41, 59;
    /* Slate 800 */
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom right,
            rgb(var(--background-start-rgb)),
            rgb(var(--background-end-rgb)));
    min-height: 100vh;
}